.vs/
ipch/
*VC.db
*VC.opendb
*.vcxproj.user

Build/
Output/
packages/

ProtoLab/Shaders/CompiledShaders/*.h
ProtoLab/Shaders/CompiledShaders/Temp/
ThirdParty/DirectXTex/DirectXTex/Shaders/Compiled/

sponza.exr
sponza*.mip