<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest"
         xmlns:mx="http://schemas.microsoft.com/appx/2013/xbox/manifest"
         IgnorableNamespaces="mx">

  <Identity Name="5f7b3d1a-7592-4d8e-af3e-b1f4ec7c59ab"
            Publisher="CN=Publisher"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>ProtoLabNG</DisplayName>
    <PublisherDisplayName>PublisherDisplayName</PublisherDisplayName>
    <Logo>Launcher\XboxOne\Resources\StoreLogo.png</Logo>
    <Description>ProtoLabNG</Description>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2</OSMinVersion>
    <OSMaxVersionTested>6.2</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="en-us"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="ProtoLabNG.App">
      <VisualElements
          DisplayName="ProtoLabNG"
          Logo="Launcher\XboxOne\Resources\Logo.png"
          SmallLogo="Launcher\XboxOne\Resources\SmallLogo.png"
          Description="ProtoLabNG"
          ForegroundText="light"
          BackgroundColor="#464646">
        <SplashScreen Image="Launcher\XboxOne\Resources\SplashScreen.png" />
      </VisualElements>
      <Extensions>
        <mx:Extension Category="xbox.system.resources">
          <mx:XboxSystemResources />
        </mx:Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClientServer" />
  </Capabilities>
  <Extensions>
    <mx:PackageExtension Category="windows.kinect">
      <mx:Kinect IsVersionLocked="false">
        <mx:AudioPipeline Version="1.14.8" />
        <mx:SpeechPipeline Version="1.14.8" />
        <mx:VisionPipeline Version="1.14.8" />
      </mx:Kinect>
    </mx:PackageExtension>
  </Extensions>
</Package>
